# /etc/systemd/system/home-server.service
[Unit]
Description=Home Server
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/daniel/home-server
ExecStart=/home/daniel/home-server/start-service.sh
ExecStop=/home/daniel/home-server/stop-service.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
